body {
    background-color: #8c8c8c;
}

nav a li{
    text-decoration:none;
    color:magenta;
    font-size:14px;
}

nav a li:active {
    color: red;
}

nav a:visited{
    color: green;
}

nav li{
    display:inline-block;
    width:15%;
    padding:5px 10px;
    background-color:#000;
    border:1px solid #000;
    text-align:center;
    color:#fff;
}

nav li:hover{
    background-color:#fff;
    color:#000;
}

h1 {
    text-align: right;
    color: red;
    font-weight: bold;
}

h2 {
    text-align: center;
    color: blue;
    font-weight: bold;
    font-style: oblique;
}

p {
    color: white;
    text-align: justify;
    font-family: serif;
    letter-spacing: 2pt;
}

DD {
    text-decoration: overline;
    font-weight: bold;
    font-family: Arial;
}

DT {
    color: #424242;
    font-style: oblique;
}

table {
    color: white;
    background-color: black;
    border: 7px solid blue;
    border-collapse: collapse;
}

caption {
    font-size: 1.5%;
}

image {
    width: 150px;
    height: 150px;
}

.subir{
    font-family: serif;
    font-size: 200%;
    color: red;
    text-decoration: none;
}

.subir:hover{
    font-size: 300%;
}

.subir:visited{
    color: white;
    background-color: silver;
}